<div class="task-container">
  <h1>Task Manager</h1>
  <div class="task-input">
    <input
      type="text"
      placeholder="Ajouter une nouvelle tâche"
      [(ngModel)]="newTitle"
    />
    <input
      type="text"
      placeholder="Ajouter une nouvelle Description"
      [(ngModel)]="newDescription"
    />
    <button (click)="addTask()">Ajouter</button>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of tasks" [class.completed]="task.completed">
      <span (click)="toggleTask(task)">{{ task.title }} - {{task.description}} {{task.completed ? "completed" : ""}}</span>
      <button class="delete-btn" (click)="deleteTask(task.id)">✖</button>
    </li>
  </ul>
</div>
