<div class="task-container">
  <h1>Task Manager</h1>
  <div class="task-input">
    <input
      type="text"
      placeholder="Ajouter une nouvelle tâche"
      [(ngModel)]="newTitle"
    />
    <input
      type="text"
      placeholder="Ajouter une nouvelle Description"
      [(ngModel)]="newDescription"
    />

    <button *ngIf="!isEditing" (click)="addTask()">Ajouter</button>
    <button *ngIf="isEditing" (click)="updateTask()">Mettre à jour</button>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of tasks" [class.completed]="task.completed">
      <span (click)="toggleTask(task)"
        >{{ task.title }} - {{ task.description }}
        {{ task.completed ? "completed" : "" }}</span
      >
      <button class="delete-btn" (click)="deleteTask(task.id)">✖</button>
      <button class="btn-update" (click)="editeTask(task)">updtade</button>
    </li>
  </ul>
</div>
